/* here you can put your own css to customize and override the theme */
h3.title{
    text-transform: uppercase;
    font-weight: bold;
    font-size: 17px;
}
.comment .item p{
    font-family: "Lora", serif;
    font-style: italic;
    color: #000000;
}

.support .support-item{
    padding-left: 25px;
    background: #ffffff url("/img/support.png") no-repeat left top;
    font-size: 19px;
    color: #e02222;
}