/* here you can put your own css to customize and override the theme */


.fileinput-preview.thumbnail,.fileinput-preview.thumbnail img{
    border: 1px #d4d4d4 solid;
    border-radius:50% !important;
    -moz-border-radius:50% !important;
    -webkit-border-radius:50% !important;
    padding: 0 !important;
}
.fileinput-preview.thumbnail img{
    height: 100% !important;
}