/* here you can put your own css to customize and override the theme */

.paginator .btn-toolbar .btn-circle.dark{
    background-color: #2977f7;
    color: white;
}

#association .paginator{
    background-color: #fff;
}

#association .paginator {
    margin:10px auto;
    display:table;
    padding:2px;
    white-space:nowrap;
}

#association .paginator ul{
    list-style:none;
    margin:0;
    padding:0;
    display:table-row;
    white-space:nowrap;
}

#association .paginator ul{
    display:table-cell;
}